body {
    margin: 0;
}

.container {
    display: grid;
}

header {
    grid-column-start: 1;
    grid-column-end: 12;
    padding: 20px;
    padding-top: 50px;
    background-color: #070173;
    text-align: center;
}

.menu {
    grid-column-start: 6;
    grid-column-end: 12;
    justify-content: center;
    gap: 10px;
}

.principal {
    grid-column-start: 4;
    grid-column-end: 12;
    padding-left: 15px;
    padding-right: 100px;
    padding-top: 50px;
    text-align: justify;

}

.infos {
    justify-content: center;
}

footer {
    grid-column-start: 1;
    grid-column-end: 12;
    background-color:#f70808;
    color: white;
    text-align: center;
}

ul {
    list-style-type: none;
    color: #506E6A;
}

a,
a:link {
    text-decoration: none;
    text-decoration-color: white;
    padding: 10px 20px;
    border: solid #070173 1px;
    
}

li {
    float: left;
}

a:hover {
    background-color: #291eff;
    color: white;

}

a:visited{
    color: white;
}


/*  Formatação titulo */

h1{
    color: #030133;  
}

@media only screen and (max-width: 767px) {
    .wrapper {
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .principal {
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .infos {
        justify-content: center;
    }
}
