body {
    margin: 0;
}

.container {
    display: grid;
}

header {
    grid-column-start: 1;
    grid-column-end: 12;
    padding: 20px;
    background-color: #070173;
}

.menu {
    grid-column-start: 6;
    grid-column-end: 12;
    justify-content: center;
    gap: 10px;
}

.imagem_perfil {
    grid-column-start: 1;
    grid-column-end: 3;
}

.principal {
    grid-column-start: 4;
    grid-column-end: 12;
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;

}

footer {
    grid-column-start: 1;
    grid-column-end: 12;
    background-color:#f70808;
    color: white;
    text-align: center;
}

ul {
    list-style-type: none;
    color: #506E6A;
}

a,
a:link {
    text-decoration: none;
    text-decoration-color: white;
    padding: 8px 16px;
    border: solid #070173 1px;
    
}

li {
    float: left;
}

a:hover {
    background-color: #291eff;
    color: white;
}

@media only screen and (max-width: 767px) {
    .wrapper {
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .imagem_perfil {
        grid-column-start: 1;
        grid-column-end: 1;

    }

    .principal {
        grid-column-start: 1;
        grid-column-end: 1;
    }
}
